<div [style.margin-right]="isPinSidebar ? '260px' : '0'">

    <div class="header-section">
        <div>
            <h4>Data Libary</h4>

            <ul>
              <li>
                <a href="">Maintenance</a>
              </li>
              <li>
                <a href="">Data Libary</a>
              </li>
              <li>Components</li>
            </ul>
             <!-- <div>
                <kendo-breadcrumb [items]="items" (itemClick)="onItemClick($event)"></kendo-breadcrumb>
             </div> -->
        </div>
        <div>
            <button class="btn-custom-outline" (click)="callUpdateFunc()">Update</button>
            <button class="btn-custom-outline mx-2"><i class="bi bi-upload"></i></button>
            <button class="btn-custom-outline me-2"><i class="bi bi-download"></i></button>
            <button class="btn-custom">Map</button>
        </div>
    </div>

    <div class="kendo-grid-table-outer">

        <app-main-control-tabs [pageName]="'equipment-structure'" [activeClass]="'Components'"></app-main-control-tabs>

         <!-- Conditionally display the component -->

            <div class="d-flex borderMainAll">
                <div class="w-25 pe-2">
                    <!-- <input type="text" class="w-100" placeholder="Search box"> -->
                    <ng-container>

                        <kendo-autocomplete
                            [data]="searchTreeViewList"
                            valueField="text"
                            placeholder="Search Data"
                            class="w-100"
                        >
                        </kendo-autocomplete>


                        <div class="border-box mt-2">
                          <div class="custom-treeview">
                            <kendo-treeview
                              [nodes]="data"
                              textField="text"
                              kendoTreeViewHierarchyBinding
                              childrenField="items"
                              kendoTreeViewExpandable
                              [expandedKeys]="expandedKeys"
                              (nodeClick)="onNodeClick($event)"
                          >
                          </kendo-treeview>
                          </div>
                        </div>

                    </ng-container>
                </div>

                <div class="w-75 ps-2">
                    <div class="wrapper">
                        <div class="tablist-container">
                            <div class="tabs" id="myTab" role="tablist">
                              <a 
                                class="tab" *ngFor="let tab of tabs; let i = index"
                                [class.active]="selectedTab === i"
                                (click)="selectTab(i)"
                                [id]="tab.content + '-tab'" 
                                data-bs-toggle="tab" 
                                [href]="'#' + tab.content" 
                                role="tab" 
                                [attr.aria-controls]="tab.content" 
                                aria-selected="true"
                              >
                             <p>  {{ tab.label }} </p> 
                             
                              @if(tab.number){
                                <span [ngStyle]="{ background: tab.number !== '00' && '#42b0d5', color: tab.number !== '00' && 'white' }">{{tab.number}}</span>
                              } @else{
                                <span>00</span>
                              }

                             
                            </a>
                            </div>
                            <div class="">
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
                                  <app-component-equipment [selectedID]="selectedNodeId"></app-component-equipment>
                                </div>
                                <div class="tab-pane fade" id="jobplan" role="tabpanel" aria-labelledby="jobplan-tab">
                                  <app-component-jobplan [selectedID]="selectedNodeId"></app-component-jobplan>
                                </div>
                                <div class="tab-pane fade" id="mappedVessel" role="tabpanel" aria-labelledby="vessel-tab">
                                  <app-component-mapped-vessel></app-component-mapped-vessel>
                                </div>
                                <div class="tab-pane fade" id="spareParts" role="tabpanel" aria-labelledby="spareparts-tab">
                                  <app-component-spare-parts (filterBar)="handleChildEvent($event)"></app-component-spare-parts>
                                </div>
                              </div>
                              

                              <!-- <ng-container *ngIf="selectedTab !== null"> -->
                                <!-- <div [ngSwitch]="tabs[selectedTab].content"> -->
                                  <!-- <div>
                                    <app-component-equipment [selectedID]="selectedNodeId" ></app-component-equipment>
                                  </div>
                                  <div>
                                    <app-component-jobplan [selectedID]="selectedNodeId"></app-component-jobplan>
                                  </div>
                                  <div>
                                    <app-component-mapped-vessel></app-component-mapped-vessel>
                                  </div>
                                  <div>
                                    <app-component-spare-parts (filterBar)="handleChildEvent($event)"></app-component-spare-parts>
                                  </div> -->
                                  
                                  <!-- <div *ngSwitchDefault>
                                    <app-component-equipment></app-component-equipment>
                                  </div> -->
                                <!-- </div> -->
                              <!-- </ng-container> -->
                            </div>
                          </div>
                      </div>
                </div>
            </div>


        <!-- <ng-container *ngIf="activeTab === 'Class Structure'">
            <app-class-equipment></app-class-equipment>
        </ng-container> -->


    </div>

    <div class="sidebar" [class.active]="filterBoolan">
      <div class="sidebar-header">
        <h4>Filter</h4>
        
        <div class="d-flex">
        <button class="btn btn-none" (click)="pinSidebar()"> <i class="bi bi-pin"></i> </button>
        <button class="btn btn-none" (click)="toggleSidebar()"><i class="bi bi-x-circle"></i></button>
        </div>
      </div>
      <div>
        <ng-container *ngTemplateOutlet="childTemplate"></ng-container>
      </div>
    </div>

</div>
