.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 30px;

    h4 {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 0px;
    }

    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        list-style: none;

        li {
            font-size: 14px;
            padding: 0px 10px;
            color: #333;
            position: relative;
            text-decoration: underline;

            &:first-child::before {
                background-image: none;
            }

            &:first-child {
                padding-left: 0px;
            }

            &:before {
                position: absolute;
                left: -3px;
                top: 6px;
                content: "";
                width: 10px;
                height: 10px;
                background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22black%22%20d%3D%22M310.6%20233.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-192%20192c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3L242.7%20256%2073.4%2086.6c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200l192%20192z%22%2F%3E%3C%2Fsvg%3E');
                background-repeat: no-repeat;

            }

            a {
                text-decoration: underline;
                font-size: 14px;
                color: #333;
            }
        }
    }
}


.borderMainAll {
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 29px 20px;
    margin: 0px 20px 30px;
}


.wrapper {
    /* display: flex; */
    justify-content: center;
}

.content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}



.tablist-container {
    width: 100%;
}

.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .tab {
    padding: 3px 10px 9px;
    border: none;
    border-bottom: 1px solid #E2E2E2;
    position: relative;
    display: flex;
    justify-content: end;
    font-size: 14px;
    align-items: end;
    text-decoration: none;
    color: black;

    p{
      margin-bottom: 0px;
    }
    span{

      background: #ddd;
      margin-left: 6px;
      font-size: 11px;
      line-height: 13px;
      padding: 2px 3px;
      color: #333;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 18px;
    }
  }

.tab.active {
    background-color: #ffffff;
    font-weight: 400;
    color: #42b0d5;

    position: relative;
    transition: 0.4s;

    &:before {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: "";
        width: 100%;
        height: 2px;
        transition: 0.4s;
        background: #42b0d5;
    }

    span {
        color: #333;
    }
}

.kendo-treeview {
    width: 250px;
}

.btn-custom-outline {
    border: 1px solid #42b0d5;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #42b0d5;
    transition: 0.4s;

    &:hover {
        border: 1px solid black;
        color: black;
    }

    &:active {
        background-color: rgb(63, 207, 255, 0.6);
    }
}

.btn-custom {
    border: 1px solid #42b0d5;
    padding: 5px 10px;
    background-color: #42b0d5;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: 0.4s;

    &:hover {
        border: 1px solid rgb(63, 207, 255, 0.6);
    }

    &:active {
        background-color: rgb(63, 207, 255, 0.6);
    }
}

.custom-treeview {
    ::ng-deep {
        .k-svg-icon.k-icon.k-svg-i-caret-alt-down {
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M432%20256c0%2017.7-14.3%2032-32%2032L48%20288c-17.7%200-32-14.3-32-32s14.3-32%2032-32l352%200c17.7%200%2032%2014.3%2032%2032z%22%2F%3E%3C%2Fsvg%3E');
            background-position: center;
            background-repeat: no-repeat;
            background-color: #42b0d5;
            background-size: 10px;
            border-radius: 50%;
            padding: 0px;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;

            svg {
                display: none;
            }
        }

        .k-svg-icon.k-icon.k-svg-i-caret-alt-right {
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M256%2080c0-17.7-14.3-32-32-32s-32%2014.3-32%2032V224H48c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032H192V432c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V288H400c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H256V80z%22%2F%3E%3C%2Fsvg%3E');
            background-position: center;
            background-repeat: no-repeat;
            background-color: #42b0d5;
            background-size: 10px;
            border-radius: 50%;
            padding: 0px;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;

            svg {
                display: none;
            }
        }
    }

    .k-treeview-leaf.k-focus {
        // box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.13);
        box-shadow: none;
        width: 100%;
    }

    .k-treeview-toggle {
        margin-inline-start: 0px;
    }

    .k-treeview-top,
    .k-treeview-mid,
    .k-treeview-bot {
        margin-left: -24px;
    }
}

::ng-deep {

    .k-autocomplete {
        border: 1px #ddd solid !important;
        padding: 5px !important;
        ;
        border-radius: 5px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 8px;
        background-size: 15px;
        padding-left: 28px !important;
        ;
    }

    .k-input-solid:focus {
        box-shadow: none;
    }
}




// side bar


.sidebar {
    min-height: 100% !important;
    width: 250px;
    display: none;
    position: absolute;
    top: 60px;
    right: -250px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px;
    border-left: 1px solid #eee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 9999;
}

.sidebar.active {
    right: 0;
    display: block;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.flexMainallEqu {
    display: flex;
    gap: 10px;

    .floatDivMain1 {
        width: 30%;
        border: 1px #ddd solid;
        border-radius: 5px;
        padding: 10px;
    }

    .floatDivMain2 {
        width: 100%;
        border: 1px #ddd solid;
        border-radius: 5px;
        padding: 10px;

        .rowMainAllSpace {
            margin: 0 -5px;

            .col-sm-3 {
                padding: 0 5px !important;
                margin-bottom: 15px;
            }

            .col-sm-5 {
                padding: 0 5px !important;
                margin-bottom: 15px;
            }

            .col-sm-6 {
                padding: 0 5px !important;
                margin-bottom: 15px;
            }

            .col-sm-1 {
                padding: 0 5px !important;
                margin-bottom: 15px;
                display: flex;
                justify-content: end;
                flex-direction: column;
            }

            .switchingClass {
                h2 {
                    font-size: 14px;
                    color: #333;
                    margin-bottom: 1px;
                }
            }

            ::ng-deep {
                .k-switch-on:focus .k-switch-track {
                    outline: none !important;
                }

                .k-switch-md {
                    width: 100%;
                }

                .k-picker-solid {
                    background: transparent !important;
                    border: 1px #ddd solid;
                }

                .k-switch-on {
                    .k-switch-track {
                        background: #42b0d5 !important;
                    }

                }

                .k-switch-track {
                    background: #9b9b9b !important;
                    border: none !important;
                    width: 100%;
                    height: 25px;
                }

                .k-switch-thumb {
                    width: 20px !important;
                    height: 20px !important;
                    transform: translate(-53%, -53%);
                }

                .k-switch-label-off {
                    display: none !important;
                }

                .k-switch-label-on {
                    display: none !important;
                }

                .k-input-value-text {
                    padding: 6px 13px 2px;
                }

                .k-button-md.k-icon-button {
                    padding: 0px;
                    background: transparent;
                    border: none;
                    position: absolute;
                    right: 0;
                    top: 4px;
                }

                .k-svg-i-caret-alt-down {

                    svg {
                        display: none;
                    }

                    padding: 0px;
                    background-size: 13px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
                }

                .k-picker-solid:focus {
                    box-shadow: none;
                }

                .k-input-solid {
                    border: 1px #ddd solid;
                    padding: 4px 13px;
                    border-radius: 5px;

                }

                .k-input-solid.k-focus {
                    box-shadow: none;
                }

                .k-label {
                    margin: 0;
                    background: #fff;
                    font-size: 14px;
                    position: relative;
                    left: 7px;
                    top: 15px;
                    z-index: 10;
                    padding: 0 7px;
                    white-space: nowrap;
                    max-width: 155px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .k-input-inner {
                    padding: 0px !important;
                }

            }

        }
    }
}

.normalInputField {
    border: 1px #ddd solid;
    padding: 4px 13px;
    outline: none;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;

}

.labelNormalTxt {
    background: #fff;
    font-size: 13px;
    position: relative;
    left: 7px;
    top: 11px;
    z-index: 10;
    padding: 0 7px;
}