<section>
  <div class="flexMainallEqu">
<div class="floatDivMain1">
<div class="boxMainDiv">

</div>
</div>
<div class="floatDivMain2">
  <div class="row rowMainAllSpace">
  <div class="col-sm-3">
    <kendo-label text="Equipment Code">
      <kendo-textbox placeholder=""></kendo-textbox>
    </kendo-label>
  </div>
  <div class="col-sm-3">
    <kendo-label text="Equipment Name">
      <kendo-textbox placeholder=""></kendo-textbox>
    </kendo-label>
  </div>
  <div class="col-sm-3">
    <kendo-label text="Parent Equipment ">
      <kendo-textbox placeholder=""></kendo-textbox>
    </kendo-label>
  </div>
  <div class="col-sm-3">
    <label class="labelNormalTxt">Model</label>
    <input class="normalInputField" type="text" placeholder="">
      </div>
  <div class="col-sm-3">
    <kendo-label text="Marker">
      <kendo-textbox placeholder=""></kendo-textbox>
    </kendo-label>
  </div>


      <div class="col-sm-3">
        <kendo-label text="Equipment Type ">
          <kendo-dropdownlist [data]="areaList"></kendo-dropdownlist>
        </kendo-label>
          </div>
          <div class="col-sm-3">
            <kendo-label text="Bussiness / Licence">
              <kendo-textbox placeholder=""></kendo-textbox>
            </kendo-label>
          </div>

          <div class="col-sm-3">
            <kendo-label text="Department">
              <kendo-textbox placeholder=""></kendo-textbox>
            </kendo-label>
          </div>


          <div class="col-sm-3">
            <kendo-label text="Drawing Number">
              <kendo-textbox placeholder=""></kendo-textbox>
            </kendo-label>
          </div>
          <div class="col-sm-3">
            <kendo-label text="Type ">
              <kendo-dropdownlist [data]="areaList"></kendo-dropdownlist>
            </kendo-label>
              </div>
              <div class="col-sm-3">
                <kendo-label text="Safety Level ">
                  <kendo-dropdownlist [data]="areaList"></kendo-dropdownlist>
                </kendo-label>
                  </div>

                  <div class="col-sm-3">
                    <kendo-label text="Maker">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-3">
                    <kendo-label text="Model">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-3">
                    <kendo-label text="Builder">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-3">
                    <kendo-label text="Applicable Vessel">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-3">
                    <kendo-label text="Inherit RHrs From">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-6">
                    <kendo-label text="RHrs Separately">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-3">
                    <kendo-label text="Mount Allowed">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-3 ">
                    <kendo-label text="Circulating">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-5">
                    <kendo-label text="Legacy Code">
                      <kendo-textbox placeholder=""></kendo-textbox>
                    </kendo-label>
                  </div>

                  <div class="col-sm-1 switchingClass">
<h2>Active</h2>
                      <kendo-switch ></kendo-switch>

                    </div>

                    <div class="col-sm-3">
                      <kendo-label text="Last Modified User">
                        <kendo-textbox placeholder=""></kendo-textbox>
                      </kendo-label>
                    </div>

                    <div class="col-sm-3">
                      <kendo-label text="Last Modified Date">
                        <kendo-textbox placeholder=""></kendo-textbox>
                      </kendo-label>
                    </div>

                    <div class="col-sm-3">
                      <kendo-label text="Preferred Vendor">
                        <kendo-textbox placeholder=""></kendo-textbox>
                      </kendo-label>
                    </div>

                    <div class="col-sm-3">
                  <label class="labelNormalTxt">Installation Date</label>
                      <kendo-datepicker
          calendarType="infinite"
          [value]="value"
        ></kendo-datepicker>
                    </div>

                    <div class="col-sm-3">
                      <kendo-label text="Equipment Dimension">
                        <kendo-textbox placeholder=""></kendo-textbox>
                      </kendo-label>
                    </div>

                    <div class="col-sm-3">
                      <kendo-label text="Equipment Material">
                        <kendo-textbox placeholder=""></kendo-textbox>
                      </kendo-label>
                    </div>
                    <div class="col-sm-3">
                      <kendo-label text="Maersk Art Code">
                        <kendo-textbox placeholder=""></kendo-textbox>
                      </kendo-label>
                    </div>
                    <div class="col-sm-3">
                      <kendo-label text="Circulating Equipment Group ">
                        <kendo-dropdownlist [data]="areaList"></kendo-dropdownlist>
                      </kendo-label>
                        </div>

                        <div class="col-sm-6">
                          <kendo-label text="Equipment Dimension">
                            <kendo-textbox placeholder=""></kendo-textbox>
                          </kendo-label>
                        </div>


</div>


  </div>
  </div>
</section>
