<div>

  <div class="row">
    <div class="col-sm-3 px-1 my-3" >
        <div class="input-box">
            <label for="equipment-code" class="input-label">Equipment Code</label>
            <input id="equipment-code" type="text">
        </div>
    </div>
    <div class="col-sm-3 px-1 my-3" >
      <div class="input-box">
          <label for="equipment-name" class="input-label">Equipment Name</label>
          <input id="equipment-name" type="text">
      </div>
  </div>
  <div class="col-sm-3 px-1 my-3" >
    <div class="input-box">
        <label for="parent-equipment" class="input-label">Parent Equipment</label>
        <input id="parent-equipment" type="text">
    </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="maler" class="input-label">Maler</label>
      <input id="maler" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="model" class="input-label">Model</label>
      <input id="model" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="equipment-type" class="input-label">Equipment Type</label>
      <input id="equipment-type" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="drawing-no" class="input-label">Drawing No</label>
      <input id="drawing-no" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="vessel-class" class="input-label">Vessel Class</label>
      <input id="vessel-class" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="vessel-name" class="input-label">Vessel Name</label>
      <input id="vessel-name" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="department" class="input-label">Department</label>
      <input id="department" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="typeoptions" class="input-label">Type</label>
      <input id="typeoptions" type="text">
  </div>
</div>
<div class="col-sm-3 px-1 my-3" >
  <div class="input-box">
      <label for="safetylevel" class="input-label">Safety level</label>
      <input id="safetylevel" type="text">
  </div>
</div>
</div>

    
   
</div>