/* custom grid */

::ng-deep .headerCustomClass{
    background-color: lightgray;
    color: black;
    padding: 2px 10px;
    font-weight: bold;
    text-wrap: balance;
    border-left: 1px solid #D6D6D6 !important;
    border-bottom: 1px solid #D6D6D6 !important;
}

::ng-deep .cellCustomClass {
    border: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D6D6D6 !important;
}

::ng-deep .cellCustomClass:focus {
    border: 2px solid rgb(200, 230, 240) !important;
}

::ng-deep .custom-grid .k-table-row.k-selected > .k-table-td {
    background-color: inherit;
}

::ng-deep .custom-grid.k-grid .k-grid-header .k-table-th  > .k-cell-inner > .k-link {
    padding-block: 0px;
}

::ng-deep .custom-grid.k-grid .k-filtercell .k-filtercell-wrapper{
    .k-input{
        .k-input-inner{
            padding-block: 0px;
        }
    }

    .k-filtercell-operator{
        .k-dropdown-operator .k-input-button {
            padding: 0px
        }
    }
}

::ng-deep .custom-grid .k-master-row.k-table-row:hover, ::ng-deep .custom-grid .k-master-row.k-alt.k-table-alt-row:hover {
    background-color: rgb(200, 230, 240) !important;
}

::ng-deep .custom-grid .k-master-row.k-table-row{
    background-color: #F8FAFC;
    border: 1px solid #D6D6D6;
}

::ng-deep .custom-grid .k-master-row.k-alt.k-table-alt-row{
    background-color: #ffffff;
    border: 1px solid #D6D6D6;
}

/* grid toolbar starting element */

::ng-deep .custom-grid .k-grid-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    border-radius: inherit;

    *{
        display: inline-block;
    }

    .group-btn {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        border-radius: 5px;
        overflow: hidden;

        button{
            border: none;
            padding: 8px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 0px;
            background-color: #42b0d526;
            transition: 0.4s;

         &:hover{
            background-color: rgb(230 248 255);
         }

         &:active{
            background-color: #42b0d5;
         }
        }
    }



}


/* grid toolbar starting element end */

::ng-deep .custom-grid.k-grid{
    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 0px 1px;
}

/* grid pager styles */

.filter-details{
    background: #EEF2F6;
    border-radius: 3px;
    padding: 7px 14px;
    color: #4B4B4B;
}

::ng-deep .custom-grid .k-pager-sizes .k-picker-solid {
    border: 1px solid #CDD5DF;
    color: #666666;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
}

::ng-deep .custom-grid .k-pager-sizes .k-dropdown .k-input-button .k-button-icon.k-svg-i-caret-alt-down svg{
    display: none;
}

::ng-deep .custom-grid .k-pager-sizes .k-dropdown .k-input-button .k-button-icon.k-svg-i-caret-alt-down{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%234B5565' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    min-width: 20.0000000004px;
    min-height: 20.0000000004px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


::ng-deep .custom-grid .k-pager-input .k-input-solid{
    border: 1px solid #CDD5DF;
    border-radius: 4px;
}

::ng-deep .custom-grid .k-input-inner.k-pager-nav {
    padding-block: 2px !important;
}

::ng-deep .custom-grid .k-pager-nav.k-pager-first,
::ng-deep .custom-grid .k-pager-nav.k-pager-last{
    display: none;
}

::ng-deep .custom-grid .k-pager-nav.k-button .k-button-icon.k-svg-i-caret-alt-left svg,
::ng-deep .custom-grid .k-pager-nav.k-button .k-button-icon.k-svg-i-caret-alt-right svg{
    display: none;
}

::ng-deep .custom-grid .k-pager-nav.k-button .k-button-icon.k-svg-i-caret-alt-left {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M6 11L1 6L6 1' stroke='%234B5565' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    min-width: 20.0000000004px;
    min-height: 20.0000000004px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CDD5DF !important;
    border-radius: 4px;
    padding: 7px, 10px;
}

::ng-deep .custom-grid .k-pager-nav.k-button .k-button-icon.k-svg-i-caret-alt-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%234B5565' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    min-width: 20.0000000004px;
    min-height: 20.0000000004px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CDD5DF !important;
    border-radius: 4px;
    padding: 7px, 10px;
}

.wrapper{
    width: 100%;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0px;
}



.tablist-container {
    width: 100%;
  }

  .tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .tab {
    padding: 3px 10px 9px;
    border: none;
    border-bottom: 1px solid #E2E2E2;
    position: relative;
    display: flex;
    justify-content: end;
    font-size: 14px;
    align-items: end;

    p{
      margin-bottom: 0px;
    }
    span{

      background: #ddd;
      margin-left: 6px;
      font-size: 11px;
      line-height: 13px;
      padding: 2px 3px;
      color: #333;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 18px;
    }
  }

  .tab.active {
    background-color: #ffffff;
    font-weight: 400;
    color: #42b0d5;

    position: relative;
    transition: 0.4s;

    &:before{
      position: absolute;
      left: 0;
      bottom:-1px;
      content: "";
      width: 100%;
      height: 2px;
      transition: 0.4s;
      background: #42b0d5;
    }
    span{
      color: #333;
    }
  }

  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #ffffff;
  }

  .kendo-treeview {
    width: 250px;
  }
