<div class="floatDivMain2">
    <form>
        <div class="row rowMainAllSpace">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <label class="labelNormalTxt" for="part-number">Part Number</label>
              <input class="normalInputField" id="part-number" type="text" name="partNumber" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="plateDrawing-number">Plate/Drawing Number</label>
                <input class="normalInputField" id="plateDrawing-number" type="text" name="plateDrawingNumber" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="position-number">Position Number</label>
                <input class="normalInputField" id="position-number" type="text" name="positionNumber" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="mobile-number">Mobile Number</label>
                <input class="normalInputField" id="mobile-number" type="text" name="mobileNumber" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="spareItemCode">Spare Item Code</label>
                <input class="normalInputField" id="spareItemCode" type="text" name="spareItemCode" required>
            </div>
            
            <!-- start dropdown -->

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"> 
                <label class="labelNormalTxt" for="uom">UOM</label>
                <input class="normalInputField" id="uom" type="text" name="uom" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="critical">Critical</label>
                <input class="normalInputField" id="critical" type="text" name="critical" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="active">Active</label>
                <input class="normalInputField" id="active" type="text" name="active" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="maxStock">Max. Stock</label>
                <input class="normalInputField" id="maxStock" type="text" name="maxStock" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="minStock">Min. Stock</label>
                <input class="normalInputField" id="minStock" type="text" name="minStock" required>
            </div>

            <!-- dropdown -->


            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="equipmentType">Equipment Type</label>
                <input class="normalInputField" id="equipmentType" type="text" name="equipmentType" required>
            </div>

            <!-- start dropdown -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="maker">Maker</label>
                <input class="normalInputField" id="maker" type="text" name="maker" required>
            </div>
            <!-- dropdown -->

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"> <!-- search bar or autocom -->
                <label class="labelNormalTxt" for="model">Model</label>
                <input class="normalInputField" id="model" type="text" name="maker" required>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="preferredVendor">Preferred Vendor</label>
                <input class="normalInputField" id="preferredVendor" type="text" name="maker" required>
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <label class="labelNormalTxt" for="preferredVendor">Preferred Vendor</label>
                    <textarea class="normalInputField" id="preferredVendor" name="maker" rows="4" ></textarea>
                </div>
    
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <label class="labelNormalTxt" for="preferredVendor">Preferred Vendor</label>
                    <textarea class="normalInputField" id="preferredVendor" name="maker" rows="4" ></textarea>
                </div>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"> <!-- auto complete-->
                <label class="labelNormalTxt" for="workingQty">Working Qty</label>
                <input class="normalInputField" id="workingQty" type="text" name="workingQty" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="dimensions">Dimensions</label>
                <input class="normalInputField" id="dimensions" type="text" name="dimensions" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="unit">Unit</label>
                <input class="normalInputField" id="unit" type="text" name="unit" required>
            </div>


            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="materials">Materials</label>
                <input class="normalInputField" id="materials" type="text" name="materials" required>
            </div>

            <!-- start dropdown -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="tags">Tags</label>
                <input class="normalInputField" id="tags" type="text" name="tags" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="classEssential">Class Essential</label>
                <input class="normalInputField" id="classEssential" type="text" name="classEssential" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="hazzardousMaterials">Hazzardous Materials</label>
                <input class="normalInputField" id="hazzardousMaterials" type="text" name="hazzardousMaterials" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="oemItem">OEM Item</label>
                <input class="normalInputField" id="oemItem" type="text" name="oemItem" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="exportControl">Export Control</label>
                <input class="normalInputField" id="exportControl" type="text" name="exportControl" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="eccn/ecnCode">ECCN/ECN Code</label>
                <input class="normalInputField" id="eccn/ecnCode" type="text" name="eccn/ecnCode" required>
            </div>
            <!-- dropdown -->

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="spareMaker">Spare Maker</label>
                <input class="normalInputField" id="spareMaker" type="text" name="spareMaker" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="componentCode">Component Code</label>
                <input class="normalInputField" id="componentCode" type="text" name="componentCode" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="componentName">Component Name</label>
                <input class="normalInputField" id="componentName" type="text" name="componentName" required>
            </div>

            <!-- start dropdown -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="serialNoIsRequired">Serial No.is.required</label>
                <input class="normalInputField" id="serialNoIsRequired" type="text" name="serialNoIsRequired" required>
            </div>
            <!-- dropdown -->


            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="serialNumber">Serial Number</label>
                <input class="normalInputField" id="serialNumber" type="text" name="serialNumber" required>
            </div>


            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="vesselNumber">Vessel Number</label>
                <input class="normalInputField" id="vesselNumber" type="text" name="vesselNumber" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="yardName">Yard Name</label>
                <input class="normalInputField" id="yardName" type="text" name="yardName" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="versionNo">Version No.</label>
                <input class="normalInputField" id="versionNo" type="text" name="versionNo" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="manualReference">Manual Reference.</label>
                <input class="normalInputField" id="manualReference" type="text" name="manualReference" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="pageNo">Page No.</label>
                <input class="normalInputField" id="pageNo" type="text" name="pageNo" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="yardReference">Yard Reference</label>
                <input class="normalInputField" id="yardReference" type="text" name="yardReference" required>
            </div>

            <!-- start dropdown -->
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="spareClassification">Spare Classification</label>
                <input class="normalInputField" id="spareClassification" type="text" name="spareClassification" required>
            </div>

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="equipmentType">Equipment Type</label>
                <input class="normalInputField" id="equipmentType" type="text" name="equipmentType" required>
            </div>
            <!-- dropdown -->

            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <label class="labelNormalTxt" for="showCriticalOnly">Show Critical Only</label>
                <input class="normalInputField" id="showCriticalOnly" type="text" name="showCriticalOnly" required>
            </div>

          </div>
        
    </form>
  </div>