<div>

    <div class="header-section">
        <div>
            <h4>Data Libary</h4>
            <ul>
                <li>
                  <a href="">Maintenance</a>
                </li>
                <li>
                  <a href="">Data Libary</a>
                </li>
                <li>Class Structure</li>
              </ul>
            <!-- <div>
                <kendo-breadcrumb [items]="items" (itemClick)="onItemClick($event)"></kendo-breadcrumb>
             </div> -->
        </div>
        <div>
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-primary">up</button>
            <button class="btn btn-primary">down</button>
            <button class="btn btn-primary">Map</button>
        </div>
    </div>

    <div class="">

        <app-main-control-tabs [pageName]="'equipment-structure'" [activeClass]="'Class Structure'"></app-main-control-tabs>

         <!-- Conditionally display the component -->

            <div class="d-flex borderMainAll">
                <div class="w-25 pe-2">
                    <!-- <input type="text" class="w-100" placeholder="Search box"> -->
                    <ng-container>

                        <kendo-autocomplete
                            [data]="areaList"
                            placeholder="Search Data"
                            class="w-100"
                        >
                        </kendo-autocomplete>
                        

                        <div class="border-box mt-2">
                          <div class="custom-treeview">
                            <kendo-treeview
                              [nodes]="data"
                              textField="text"
                              kendoTreeViewHierarchyBinding
                              childrenField="items"
                              kendoTreeViewExpandable
                              kendoTreeViewCheckable
                              (nodeClick)="onNodeClick($event)"
                          >
                          </kendo-treeview>
                          </div>
                        </div>

                    </ng-container>
                </div>
                
                <div class="w-75 ps-2">
                    <div class="wrapper">
                        <div class="tablist-container">
                            <div class="tabs">
                              <div class="tab" *ngFor="let tab of tabs; let i = index" 
                                   [class.active]="selectedTab === i" 
                                   (click)="selectTab(i)">
                                {{ tab.label }}
                              </div>
                            </div>
                            <div class="">
                              <ng-container *ngIf="selectedTab !== null">
                                <div [ngSwitch]="tabs[selectedTab].content">
                                  <div *ngSwitchCase="'equipment'">
                                    <app-class-equipment [nodeId]="selectedNodeId"></app-class-equipment>
                                  </div>
                                  <div *ngSwitchCase="'component'">
                                    <app-class-component></app-class-component>
                                  </div>
                                  <div *ngSwitchDefault>
                                    <app-class-equipment [nodeId]="selectedNodeId"></app-class-equipment>
                                  </div>
                                </div>
                              </ng-container>
                            </div>
                          </div>          
                      </div>
                </div>
            </div>

<!-- 
         <ng-container *ngIf="activeTab === 'Components'">
            <app-component-equipment></app-component-equipment>
        </ng-container>

        <ng-container *ngIf="activeTab === 'Class Structure'">
            <app-class-equipment></app-class-equipment>
        </ng-container> -->
        

    </div>

</div>