.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 30px;

    h4{
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 0px;
    }

    ul{
      margin: 0px;
      padding: 0px;
      display: flex;
      align-items: center;
      list-style: none;
      li{
        font-size: 14px;
        padding: 0px 10px;
        color: #333;
        position: relative;
        text-decoration: underline;
        &:first-child::before{
          background-image: none;
        }
        &:first-child{
          padding-left: 0px;
        }

        &:before{
          position: absolute;
          left: -3px;
          top: 6px;
          content: "";
          width: 10px;
          height: 10px;
          background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22black%22%20d%3D%22M310.6%20233.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-192%20192c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3L242.7%20256%2073.4%2086.6c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200l192%20192z%22%2F%3E%3C%2Fsvg%3E');
          background-repeat: no-repeat;
        
        }
        a{
          text-decoration: underline;
          font-size: 14px;
          color: #333;
        }
      }
    }
}

.kendo-grid-table-outer{
    padding: 40px 20px 20px;
    border: 2px solid #D6D6D6;
    border-radius: 10px;
    margin: 8px;
    position: relative;
    font-size: inherit;
    font-weight: inherit;
  }
  
  .filter-tab-outer-table{
    position: absolute;
    top: -18px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Move back by half of own width */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #d1d1d1be;
  }
  
  .filter-tab-btn{
    background-color: white; 
    color: #444444;
    border: 1px solid #D6D6D6;
    border-radius: 0px;
    font-family: Roboto;
    padding: 8px;
  }
  
  .filter-tab-btn-active{
    background-color: #000080; 
    color: white;
    border: 1px solid #000080;
    border-radius: 0px;
    font-family: Roboto;
    padding: 8px;
  }
  
  .filter-tab-btn-start{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .filter-tab-btn-last{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .filter-tab-outer-dropdown{
    background-color: white; 
    color: #444444;
    border: 1px solid #D6D6D6;
    border-radius: 0px;
    font-family: Roboto;
    padding: 8.8px;
    outline: none;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    width: 120px;
  }
  
  .borderMainAll{
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 29px 20px;
    margin: 0px 20px 30px;
  }
  

  .wrapper {
    /* display: flex; */
    justify-content: center;
  }
 
  .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .border-box{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }



  .tablist-container {
    width: 100%;
  }
  
  .tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .tab {
    padding: 3px 10px 9px;
    border: none;
    border-bottom: 1px solid #E2E2E2;
    position: relative;
    display: flex;
    justify-content: end;
    font-size: 14px;
    align-items: end;

    p{
      margin-bottom: 0px;
    }
    span{

      background: #ddd;
      margin-left: 6px;
      font-size: 11px;
      line-height: 13px;
      padding: 2px 3px;
      color: #333;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 18px;
    }
  }

  .tab.active {
    background-color: #ffffff;
    font-weight: 400;
    color: #42b0d5;

    position: relative;
    transition: 0.4s;

    &:before{
      position: absolute;
      left: 0;
      bottom:-1px;
      content: "";
      width: 100%;
      height: 2px;
      transition: 0.4s;
      background: #42b0d5;
    }
    span{
      color: #333;
    }
  }

  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .kendo-treeview {
    width: 250px;
  }

  .btn-custom-outline{
    border: 1px solid #42b0d5;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #42b0d5;
    transition: 0.4s;

    &:hover{
      border: 1px solid black;
      color: black;
    }

    &:active{
      background-color: rgb(63, 207, 255, 0.6);
    }
  }

  .btn-custom{
    border: 1px solid #42b0d5;
    padding: 5px 10px;
    background-color: #42b0d5;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: 0.4s;

    &:hover{
      border: 1px solid rgb(63, 207, 255, 0.6);
    }

    &:active{
      background-color: rgb(63, 207, 255, 0.6);
    }
  }
  
  .custom-treeview{
    ::ng-deep{
      .k-svg-icon.k-icon.k-svg-i-caret-alt-down{
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M432%20256c0%2017.7-14.3%2032-32%2032L48%20288c-17.7%200-32-14.3-32-32s14.3-32%2032-32l352%200c17.7%200%2032%2014.3%2032%2032z%22%2F%3E%3C%2Fsvg%3E');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #42b0d5;
        background-size: 10px;
        border-radius: 50%;
        padding: 0px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
      svg {
        display: none;
      }
    }

    .k-svg-icon.k-icon.k-svg-i-caret-alt-right{
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M256%2080c0-17.7-14.3-32-32-32s-32%2014.3-32%2032V224H48c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032H192V432c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V288H400c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H256V80z%22%2F%3E%3C%2Fsvg%3E');
      background-position: center;
      background-repeat: no-repeat;
      background-color: #42b0d5;
      background-size: 10px;
      border-radius: 50%;
      padding: 0px;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
    svg {
      display: none;
    }
    }
    }

    .k-treeview-leaf.k-focus {
      // box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.13);
      box-shadow: none;
      width: 100%;
    }

    .k-treeview-toggle {
      margin-inline-start: 0px;
    }

    .k-treeview-top, .k-treeview-mid, .k-treeview-bot {
      margin-left: -24px;
    }
  }