// header section 
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 0px;


  h4 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;

    li {
      font-size: 14px;
      padding: 0px 10px;
      color: #333;
      position: relative;
      text-decoration: underline;

      &:first-child::before {
        background-image: none;
      }

      &:first-child {
        padding-left: 0px;
      }

      &:before {
        position: absolute;
        left: -3px;
        top: 6px;
        content: "";
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22black%22%20d%3D%22M310.6%20233.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-192%20192c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3L242.7%20256%2073.4%2086.6c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200l192%20192z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;

      }

      a {
        text-decoration: underline;
        font-size: 14px;
        color: #333;
      }
    }
  }
}

// overall border
.borderMainAll {
  border: 1px #ddd solid;
  border-radius: 5px;
  padding: 29px 20px;
  margin: 0px 20px 30px;
}

.floatDivMain2 {
  width: 100%;
  color: #333;
  border: 1px #ddd solid;
  border-radius: 5px;
  padding: 10px;

  .rowMainAllSpace {
    margin: 0 -5px;

    .col-sm-3 {
      padding: 0 5px !important;
      margin-bottom: 15px;
    }

    .col-sm-5 {
      padding: 0 5px !important;
      margin-bottom: 15px;
    }

    .col-sm-6 {
      padding: 0 5px !important;
      margin-bottom: 15px;
    }

    .col-sm-1 {
      padding: 0 5px !important;
      margin-bottom: 15px;
      display: flex;
      justify-content: end;
      flex-direction: column;
    }

    .switchingClass {
      h2 {
        font-size: 12px;
        color: #333;
        margin-bottom: 1px;
      }
    }

    ::ng-deep {
      .k-switch-on:focus .k-switch-track {
        outline: none !important;
      }

      .k-switch-md {
        width: 100%;
      }

      .k-picker-solid {
        background: transparent !important;
        border: 1px #ddd solid;
      }

      .k-switch-on {
        .k-switch-track {
          background: #42b0d5 !important;
        }

      }

      .k-switch-track {
        background: #9b9b9b !important;
        border: none !important;
        width: 100%;
        height: 25px;
      }

      .k-switch-thumb {
        width: 20px !important;
        height: 20px !important;
        transform: translate(-50%, -50%);
      }

      .k-switch-label-off {
        display: none !important;
      }

      .k-switch-label-on {
        display: none !important;
      }

      .k-input-value-text {
        padding: 6px 13px 2px;
      }

      .k-button-md.k-icon-button {
        padding: 0px;
        background: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 4px;
      }

      .k-svg-i-caret-alt-down {

        svg {
          display: none;
        }

        padding: 0px;
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
      }

      .k-picker-solid:focus {
        box-shadow: none;
      }

      .k-input-solid {
        border: 1px #ddd solid;
        padding: 4px 13px;
        border-radius: 5px;

      }

      .k-input-solid.k-focus {
        box-shadow: none;
      }

      .k-label {
        margin: 0;
        background: #fff;
        font-size: 14px;
        position: relative;
        left: 7px;
        top: 15px;
        z-index: 10;
        padding: 0 7px;
        white-space: nowrap;
        max-width: 155px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .k-input-inner {
        padding: 0px !important;
      }

      // dropdown popup style
      .k-popup {
        margin-top: 3px;
      }

      .k-list-container {
        border: 1px solid #CDD5DF;
        border-radius: 6px;
      }

      .k-list {
        border-radius: 6px;
      }

      .k-list-item {
        border-bottom: 1px solid #CDD5DF;

        &:hover {
          background: #f0f0f0;
        }
      }

      .k-list-item.k-focus {
        box-shadow: none;
      }

      .k-list-item.k-focus.k-selected {
        background: #E1EEF8;
        color: #525252;
      }

      .k-checkbox:checked {
        border-color: #000080;
        color: white;
        background-color: #000080;
      }

      // dropdown popup style end

    }

  }
}

// input field
.normalInputField {
  border: 1px #ddd solid;
  padding: 4px 13px;
  outline: none;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;

}

// label
.labelNormalTxt {
  background: #fff;
  font-size: 13px;
  position: relative;
  left: 7px;
  top: 11px;
  z-index: 10;
  padding: 0 7px;
}


// search icon 
.search_icon_div {
  margin-top: 25px;
  border: 1px solid #42b0d5;
  background-color: #42b0d5;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.search_icon i {
  width: 50px;
}

.search_icon {
  color: white;
}

.search_icon_div:hover {
  background-color: white;
  border: 1px solid #42b0d5;
  cursor: pointer;

  .search_icon {
    color: #42b0d5;

  }
}


// filter icon 
.filter_icon_div {
  margin-top: 25px;
  border: 1px solid #42b0d5;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.filter_icon i {
  width: 50px;
}

.filter_icon {
  color: #42b0d5;
}

// .filter_icon_div:hover {
//   background-color: #42b0d5;
//   border: 1px solid #42b0d5;
//   cursor: pointer;

//   .filter_icon {
//     color: white;

//   }
// }



.infoDiv {
  width: fit-content;
  background-color: aliceblue;

  ul {
    margin: 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    list-style: none;

    li {
      font-size: 14px;
      padding: 0px 10px;
      color: #333;

      position: relative;
      text-decoration: none;

      &:first-child::before {
        background-image: none;
      }

      &:first-child {
        padding-left: 0px;
      }

      &:before {
        position: absolute;
        left: -3px;
        top: 6px;
        content: "";
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22black%22%20d%3D%22M310.6%20233.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-192%20192c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3L242.7%20256%2073.4%2086.6c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200l192%20192z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;

      }

    }
  }
}

// voice icon searchbar and icons grouping
.group-btn {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  border-radius: 5px;
  overflow: hidden;

  button {
    border: none;
    padding: 8px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    background-color: #42b0d526;
    transition: 0.4s;

    &:hover {
      background-color: rgb(230 248 255);
    }

    &:active {
      background-color: #42b0d5;
    }
  }
}

// tabs code
.wrapper {
  /* display: flex; */
  justify-content: center;
}

.tablist-container {
  width: 100%;
}

.tabs {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.tab {
  padding: 3px 10px 9px;
  border: none;
  border-bottom: 1px solid #E2E2E2;
  position: relative;
  display: flex;
  justify-content: end;
  font-size: 14px;
  align-items: end;

  p {
    margin-bottom: 0px;
  }

  span {

    background: #ddd;
    margin-left: 6px;
    font-size: 11px;
    line-height: 13px;
    padding: 2px 3px;
    color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 18px;
  }
}

.tab.active {
  background-color: #ffffff;
  font-weight: 400;
  color: #42b0d5;

  position: relative;
  transition: 0.4s;

  &:before {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 2px;
    transition: 0.4s;
    background: #42b0d5;
  }

  span {
    color: #333;
  }
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #ffffff;
}

//   custom button color 
.btn-custom-outline {
  color: #42b0d5; 
  border-color: #42b0d5; 
}
.btn-custom-outline:hover {
  color: #fff; 
  background-color: #42b0d5; 
  border-color: #42b0d5; 
}

// star
.star{
  color:blue;
  margin-top: -5px;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 50%;
  padding: 3px;
}
// pin icon
.pin_icon{
  display: inline-block;
  transform: rotate(90deg); /* Rotate the icon 90 degrees counter-clockwise */
  transition: transform 0.3s ease;
}